

body {
    font-family: 'Outfit', sans-serif;
}

.header-top{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background: linear-gradient(#fca400,#ca8400);
    height: 5.5em;
    
}
.logotipo{
    width: 28%;
    max-width: 120px;
}
.header-top i{
    font-size: 25px;
    padding-right: 20px;
}
.navbar{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    position:absolute;
    right:0%;
    width: 200px;
    background: linear-gradient(#ca8400,#ca83009a);
    right:-100%;
    transition: .25s;
    border-radius: 0px ;
    border-bottom-left-radius: 10px;
    display: none;
    
}
.navbar a{
    padding:25px;
    font-weight: 700;
}
.navbar a i{
    padding-left: 10px;

}
.navbar--ativo{
    right:0%;
    transition: .25s;
    display:flex;
} 

/*               START - MAIN              */
.start-main h1{
    text-align: center;
    font-size:2em;
    font-weight: 700;
    padding:20px;
}

.video-desktop{
    display:none;
}


.container__video{
    width: 100vw;
    height:auto;
    border-radius: 5px;
    margin-top: 10px;

}

