

body {
    font-family: 'Outfit', sans-serif;
}

.header-top{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background: linear-gradient(#5c703d,#5c703db9);
    height: 5.5em;
    
}
.logotipo{
    width: 28%;
    max-width: 120px;
}
.header-top i{
    font-size: 25px;
    padding-right: 20px;
    color:white;
}
.navbar{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    position:absolute;
    right:0%;
    width: 200px;
    background:#5b6f3c;
    right:-100%;
    transition: .25s;
    border-radius: 0px ;
    border-bottom-left-radius: 10px;
    display: none;
    overflow: cover;
    
}
.navbar a{
    padding:25px;
    font-weight: 500;
    color:white;
}
.navbar a i{
    padding-left: 10px;

}
.navbar--ativo{
    right:0%;
    transition: .25s;
    display:flex;
} 

/*               START - MAIN - Video            */

.start-main h1{
    text-align: center;
    font-size:2em;
    font-weight: 700;
    padding:20px;
}

.video-desktop{
    display: none;
}




.container__video{
    width: 100vw;
    height:auto;
    border-radius: 5px;
    margin-top: 10px;

}
/*               START - MAIN - MOBILE            */

.backmobile {
    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

   
    height: 60vh;
    width: 100%;

   
    background:url("/Tiger school/img/backmobile.jpeg") center center / cover no-repeat;
}
.backmobile h1{
    position:relative;
    bottom:20px;
    opacity: 0.8;
    color:white;
    font-size:1.0rem;
    top: 8em;
    text-align: left;
    left:-30px;
}
/*         CARDS         */

.cards{
display: flex;
flex-direction: column;
align-items: center;
margin: 20px 10px;}

.cards img{
    width: 100%;
    height: 17em;
    border-radius:100%;
}
.cards p{
    text-align: center;
}

