

body {
    font-family: 'Outfit', sans-serif;
    background:#d3d5da;
}

.header-top{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background: #d3d5da;
    height: 5.5em;
    
}
.logotipo{
    width: 28%;
    max-width: 120px;
}
.header-top i{
    font-size: 25px;
    padding-right: 20px;
    color:rgb(0, 0, 0);
}
.navbar{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    position:absolute;
    right:0%;
    width: 200px;
    background:#d3d5da;
    right:-100%;
    transition: .25s;
    border-radius: 0px ;
    border-bottom-left-radius: 10px;
    display: none;
    overflow: cover;
    
}
.navbar a{
    padding:25px;
    font-weight: 500;
    color:black;
}
.navbar a i{
    padding-left: 10px;

}
.navbar--ativo{
    right:0%;
    transition: .25s;
    display:flex;
} 

/*               START - MAIN - Video            */

.start-main h1{
    text-align: center;
    font-size:2em;
    font-weight: 700;
    padding:20px;
}

.video-desktop{
    display: none;
}




.container__video{
    width: 100vw;
    height:auto;
    border-radius: 5px;
    margin-top: 10px;

}
/*               START - MAIN - MOBILE            */

.backmobile {
    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

   
    height: 60vh;
    width: 100%;

   
    background:url("/Tiger school/img/backmobile.jpeg") center center / cover no-repeat;
}
.backmobile h1{
    position:relative;
    bottom:20px;
    opacity: 0.8;
    color:white;
    font-size:1.0rem;
    top: 8em;
    text-align: left;
    left:-30px;
}
/*         CARDS         */
.titlecards{
    text-align: center;
    margin:20px;
    text-align: center;
    font-size:1.5em;
    font-weight:bold;
    

}
.cards{
display: flex;
flex-direction: column;
align-items: center;
margin: 20px 10px;
background:#d3d5da;}
.cards article{
    margin:20px;
    text-align: center;
}
.cards img{
    width: 90%;
    height: 13em;
    border-radius:100%;
}
.cards p{
    text-align: center;
    font-size:1em;
    font-weight:550;
    margin:10px auto;
}

/*          SOBRE            */ 
#sobre{
    display: flex;
    flex-direction: column;
} 
.sobre-title{
    text-align: center;
    font-size:1.5em;
    font-weight:bold;
    margin:20px;
} 
.sobre-text{
    padding:30px;
    font-size:18px;
}
.element-div{width:100%;
text-align: center;}
.element-div-img{
    height:17em;
    width:70%;
    align-self: center;
    border-radius: 40% 2%;
   
}


/*                    HORARIOS                */
#horarios{
    margin:20px 0px;
    display: flex;
    flex-direction:column;
}
#horarios table{
    width:100%;
    height:auto;
    
}
#horarios thead{
    font-size: 1.1em;
    font-weight:bold;
    margin-bottom:10px;
}
#horarios tbody{
margin-top: 20px;
}

