html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family:'PT Serif', serif;
    background-color: #111111;
    color:#f0fff0;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.header{
text-align: center;
font-size:2em;
}
.header img{
    width: 100px;
}
.header a{
    text-decoration: none;
    color: #ccac00;
    text-shadow: 0px 4px 5px #ccad00ba;
    letter-spacing:2px;
}
.maintitle{
    margin-top: 50px;
    font-weight: 900;
    text-align: center;
    font-size:30px;
}
.section-top{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:space-between;
    height:auto;
    margin-top:50px;

}
.section-top form{
    text-align: center;
    padding: 10px;
    border:none;
    border-radius:20px;
    background: linear-gradient(#ccac00,#ccad00d6,#ccad00b7,#ccad006f);
    box-shadow: 5px 2px 15px 5px #ccad006f;

}
.section-top form fieldset{
    display: flex;
    flex-direction: column;
}
.section-top form legend{
    font-size:20px;
    font-weight: 500; 
}
.label-form{
    margin:20px auto 5px auto;
    font-size:20px;
    font-weight: 500;
}
.button-submit{
    margin-top:20px;
    font-size:20px;
    font-weight: 500;
}
.section-top input{
    padding: 10px;
}

.section-top-article{
}
.section-top-article:nth-child(3){
    text-align:right;
    margin-top:20px;
}
.section-top-article ul{}
.section-top-article li{padding-bottom: 40px; font-size:20px;}
.material-symbols-outlined {
    color:#ccac00;
    position: relative;
    top: 5px;
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

.section-content{
    background-image: url(../img/money.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center left;
    background-size: cover;
    text-align: center;
    margin-top:-50px;
}
.maintitle2{
margin: 10px auto 20px auto;
padding-top: 0px;}

.section-content-texts iframe{
    width: 100%;
    margin: 50px auto;}
.section-content-texts p{
    text-align: left;
    margin-right: 20%;
    margin-top:20px;
    font-size:25px;
}
.msd2{
    margin-top: 200px;
    font-weight: 900;
    text-align: center;
    font-size:30px;
}





@media screen and (min-width:765px) {
    .section-top{
        flex-direction: row;

    }    
    .section-top-article:nth-child(3){
        text-align: right;
        margin-top:0;
    }
    .section-top{
      margin-top:50px;
    }
    .section-top form{
        padding:30px;
        max-width: 350px;
    }
    .msd2{
        margin-top: 200px;
        font-weight: 900;
        text-align: center;
        font-size:30px;
    }
    .section-content-texts p{
        margin-right: 50%;

    }
    .section-content-texts iframe{
        width: 900px;
        margin:50px;
        height: 500px;
        border-radius: 10px;}
}

@media screen and (min-width:1200px){
    .section-top{
        justify-content:space-evenly;
      }
}

