body{
    display:flex;
    flex-direction:column;
}
#column-sidebar{
width:auto;
}
#column-content{
width:auto;
}
.icon-bars{
    padding: 20px;
    font-size: 30px;
    color:#EE7A3A;
    background:linear-gradient(#e7e7e7cd,#e7e7e741);
    box-shadow: 0 4px 2px -1px rgba(86, 86, 86, 0.204);
    border-radius: 5px;
    display:block;

}
.sidebar{
    display:none;
    flex-direction: column;
    width: auto;
    position:absolute;
    height: 200%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #00000040;
    left: -100;
    transition: 500ms;
    
}
.sidebar-active{
    display:flex;
    flex-direction: column;
    width: 220px;
    position:absolute;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #00000040;
    left: 0;
    transition: 500ms;

}
.sidebar-content-1{
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    text-align: center;
    height: 68px; 
    width: auto;
}
.sidebar-content-1 h1{
margin-top: 15px;
font-family: Roboto,arial;
font-size: 30px;
font-weight: 700;
color:#FFFFFF;
font-style: Bold;
}
.logo{
height: 258px;
width: 220px;
left: 0px;
top: 0px;
border-radius: 0px;
}
.sidebar-ul{
    display: flex;
    flex-direction: column;
}
.sidebar-item{
height: 33px;
list-style-type: none;
border-bottom: 1px solid #E7E7E7;
padding: 0;
}
.sidebar-item:active{
    border-left:4.5px solid #ED7839;
    background: #FDF1EB;

}
.sidebar-link{
    text-decoration: none;
    color: #725C5C;
    position: relative;
    height: 19px;
    width: 58px;
    left: 24px;
    top: 7px;
    background:transparent;
    width:100%;
    overflow:cover;    
}  
/*  END OF SIDEBAR */


.header{
    display: flex;
    background-color:#FDF1EB;
    margin-left:0;
    flex-direction:column;
}
.header-text{
    color: #725C5C;
    padding: 5px;
}
.header-text h2{
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    
}
.header-text p{
    font-family: Roboto,arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;   
}
.header-user{
    display: flex;
    margin-left: 0;
}
.header-select-idiom{
    font-family: Quicksand,roboto;
    font-size: 15px;
    display: flex;
    border:none;
    border-radius: 5px;
}
.header-select-idiom-img{
    position:relative;
    top:0px;
}
.header-select-idiom select{margin:0;
border:none;
background-color: transparent;}




@media screen and (min-width:765px) {
    body{
        display:flex;
        flex-direction:row;
    }
    #column-sidebar{
        width:20%;
        }
        #column-content{
        width:80%;
        }
    .icon-bars{
        display:none;
    }
    .sidebar{
        display:flex;
        margin-left:0%;
    }
    .header{
        flex-direction:row;
        flex-wrap: wrap;
    }
    .header-text{
        padding-left: 80px;
        margin-left: 0px;
    }
    .header-user{
        display: flex;
        margin-left:100px;
    }
 
}
@media screen and (min-width:1115px) {
    .header{
        margin-left:-5px;
    }
    .header-text{
        padding-left: 45px;
        margin-left: -0px;
    }
    #column-sidebar{
        width:20%;
        }
    #column-content{
        width:100%;
        }
    .header-select-idiom{ height: 65px;
    padding: 10px 0px;}
    .header-select-idiom select{margin:20px auto;}
    .header-select-idiom-img{
            position:relative;
            top:20px;
        }
}