*{
    margin: 0;
    box-sizing: border-box;
    background-color:black;
}
#headertop{
    text-align:center;
    color:white;
    
}
#headertop li{
    display:inline-block;
    padding:5px;
    font-weight: 500;
}
#headertop li i{
   padding-right: 5px;
}
.logodiv{
    width:100%;
    margin-top: -5px;
    
}
.menu-mobile{
    text-align: center;
    font-size:1.5em;
}
.menu-mobile i{
    color: white;
}
.navbar{
    margin-top: 10px;
    display:block;
    align-items:center;
    text-align: center;
    width:100%;
    display:none;
    transition-property:all;
    transition-duration: 500ms;
    background:red;

}
.navbar-after-click{
    display:block;
    transition-property:all;
    transition-duration: 500ms;
}
.navbar li:nth-child(1){
    border-left: 1px solid white;
}
.navbar li{
    padding-top:25px;
    font-size: 25px;
    width:100%;
    position:center;

    

}
.navbar li a{
    color:white;
    text-decoration:none;
    width:100%;
}
