#content{
    border: 2px solid white;
   /* background: rgba(128, 128, 128, 0.289);*/
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    


    
}
h1 {
    text-align: center;
    margin:50px auto;
    font-size:21px;
    font-weight: 600;
    text-shadow: 1px 1px 2.5px black;
    
}
.titulosh1{
    background-color:rgba(128, 128, 128, 0.289) ;
}
.produtos{
   margin: 20px auto;
   max-width: 400px;



    
}
.produtos img{
    width:50%;
    border-radius: 15%;
    float: left;
    box-shadow: 7px 6px 7px black;
}
.text-product{
    
    margin-top: 20%;
    text-align: left;
    margin-left: 55%;
    font-size:15px;
    font-weight: 750;
}
#icons1 , #icons2{
    font-size:22px;
    margin-left:2px;
}
#icons1{
    color: #998502
}
#icons2{
    color: red;
}

@media screen and (min-width:)  {
    
}