
body{
    font-family: 'Noto Sans Display', sans-serif;
}


Header{
    background-color: black;
    height: auto;
}
#headertop{
    color: white;
    width: 100%;
   
    }
#headertop ul{
    padding: 5px;
    
    text-align: center;
    
}

#headertop li{
    
    display: block;
    margin-right: 1em;
    font-size:12px;
    margin-top: 10px;
}
#headertop li i{
    margin-right: 0.5em;}


#menutopo{
    
    padding-top:5px;
    text-align:center;
}
#menutopo img{
    height: 280px;
    
}
.navbar{
    margin-top: 10px;
    display:block;
    align-items:center;
    text-align: center;
    width:100%;
    display:none;
    transition-property:all;
    transition-duration: 500ms;
    

}
.navbar-after-click{
    display: block;
    transition-property:all;
    transition-duration: 500ms;
}
.navbar li:nth-child(1){
    border-left: 3px solid white;
}
.navbar li{
    padding:25px 0px;
    font-size: 25px;
    width:100%;
    position:center;
    font-weight: 700;
    height: 12px;


    

}
.navbar li a{
    color:white;
    text-decoration:none;
    width:100%;
}


.menu-mobile{
    text-align: center;
    font-size:1.5em;
    padding:10px;
}
.menu-mobile i{
    color: white;
}
@media screen and (min-width:500px) {
    .menu-mobile{
        display:none;
    }
    #headertop li{
        display: inline;
       
        font-size:15px;
    }
    .navbar li:nth-child(1){
        border-left: none;
    }
    .navbar{
        margin-top: 5px; 
        text-align: center;
        width:100%;
        display:block;
        padding:30px;
        margin-left: -25px;
        
        
    }
    #menutopo li{
        font-size: 20px;
        margin-right: 1em;
        margin-left: 1em;
        display:inline;
        padding:20px;
        margin-right: 0.5em;
        margin-left: 0;
        transition:500ms;
       
    
    }
    
    #menutopo li:hover{
        background-color: #fedc09;
        border-radius: 5px;
    }
    #menutopo a{
        color: white;
        text-decoration: none;
        font-weight: 900;}
@media screen and (min-width:1000px) {
    #headertop li{
    
        display: inline;
        margin-right: 1em;
        font-size:15px;
        margin-top: 10px;
    }
    #headertop li i{
        margin-right: 0.5em;}
    
    
        .navbar{
            margin-top: 5px; 
            text-align: center;
            width:100%;
            display:block;
            padding:30px;
            margin-left: -25px;
            
            
        }
        #menutopo li{
            font-size: 20px;
            margin-right: 1em;
            margin-left: 1em;
            display:inline;
            padding:20px;
            margin-right: 0.5em;
            margin-left: 0;
            transition:500ms;
           
        
        }
        
        #menutopo li:hover{
            background-color: #fedc09;
            border-radius: 5px;
        }
        #menutopo a{
            color: white;
            text-decoration: none;
            font-weight: 900;}
    
    #menutopo{
        display:flex;
        justify-content: space-around;
    }
    .logodiv{
        margin-top: -40px;
        margin-left: -10px;
    }
    .menudiv{
        margin-top:80px;
    }
