
body{
    font-family: 'Noto Sans Display', sans-serif;
}


Header{
    background-color: black;
    height: auto;
}
#headertop{
    color: white;
    width: 100%;
   
    }
#headertop ul{
    padding: 5px;
    
    text-align: center;
    
}

#headertop li{
    display: inline;
    margin-right: 1em;
    font-size:15px;
}
#headertop li i{
    margin-right: 0.5em;}


#menutopo{
    
    padding-top:5px;
    text-align:center;
}
#menutopo img{
    height: 280px;
    
}
#menutopo nav{
    text-align: center;
    width: 100%;
    height: auto;
}
#menutopo li{
    padding:20px;
    display: inline-block;
    margin-right: 1em;
    margin-left: 1em;
    transition: 500ms;

}
#menutopo li:hover{
    background-color: #fedc09;
    border-radius: 5px;
}
#menutopo a{
    color: white;
    text-decoration: none;
    font-weight: 900;
}

#menutopo a:active{
    color:black;
}
@media screen and (max-width:421px) {
    
    #headertop li{
        display: block;
        margin-right: 1em;
        font-size:12px;
        margin-top: 10px;
    }
    
    
    
    
    #menutopo nav{
        text-align: center;
        
        height: auto;
        display: flex;
        flex-direction: column;
        
    }
    #menutopo li{
        padding:15px;
        margin-right: 0.5em;
        margin-left: 0;
        transition: 500ms;
}
#menutopo li a{font-size: 15px;}
@media screen and (min-width:1000px) {
    
    
    
    #menutopo{
        display:flex;
        justify-content: space-around;
    }
    .logodiv{
        margin-top: -40px;
        margin-left: -10px;
    }
    .menudiv{
        margin-top:80px;
    }
}