
body{ background-image: url("background.jpg");
    font-family: 'Zen Antique', serif;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 180vh;
display: flex;
align-items: center;
justify-content: center;}

input{
    color:RGB(247, 249, 248);
    padding:17px;
    outline: none;
    font-size: 30px;
    font-family: 'Zen Antique', serif;
    border-radius: 15%;
    margin-left: 5px;
    width:76px ;
    margin-top: 5px;
    

}

.main{
    display: inline-block;
    border: 3px double rgb(247, 249, 248);
    width: 345px;
    background-color: rgba(112, 189, 227, 0.486);
    border-radius: 10px;
}
.textmaincolor{
    color:rgb(74, 75, 77) ;
    width: auto;
    padding-left: 10px;
}

.num-maincolor{
    color:rgb(74, 75, 77);
}

.num-blue,.num-ora{
    color: rgb(70, 81, 95);}

.num-pur{ color:white;
    



background-color: transparent;


}    
 /*
RGB(74, 75, 77) preto
RGB(112, 188, 227) azul
rgb(247, 249, 248) branco
rgb(70, 81, 95) azulão

*\















